<style>
circle.node {
  cursor: pointer;
  stroke: #000;
  stroke-width: .5px;
}

line.link {
  fill: none;
  stroke: #ccc;
  stroke-width: 1.5px;
}
</style>
<div id="collapsible_force_layout"></div>
