<div class="search_form">
  <h3>Filter</h3>

  <label for="category_filter">I am:</label><br/>
  <%= select_tag :category_filter, options_for_select(@categories), :id => :category_filter, :class => 'select2' %>

  <div class="clearfix"></div>
  <br/>

  <label for="tag_filter">I am looking for:</label><br/>
  <%= select_tag :tag_filter, options_for_select(@tags), :id => :tag_filter, :class => 'select2' %>
</div>

<div id="infobar"></div>

<%= render "home/graphs/#{Graph.first.setting}" %>
