<div class="search_form">
  <h3>Filter</h3>

  <label for="category_filter">I am:</label><br/>
  <input type="text" name="category_filter" id="category_filter">

  <div class="clearfix"></div>
  <br/>

  <label for="tag_filter">I am looking for:</label><br/>
  <input type="text" name="tag_filter" id="tag_filter">
</div>

<div id="vis"></div>

<style>
  .clearfix { clear: both; }
</style>
