I am: <input type="text" name="category_filter" id="category_filter"><br/>
I am looking for: <input type="text" name="tag_filter" id="tag_filter">
<div id="vis"></div>

<style>
  .clearfix { clear: both; }
</style>
