nav.admin { 
  margin-bottom: 10px;
  background: #333; 
  height: 40px;

  ul {
    list-style-type: none;
    margin: 0;
    margin-left: 20px;
    padding: 0;

    li {
      padding: 0 10px;
      display: block;
      float: left;
      line-height: 40px;

      &, * {
        color: #fff;
        text-decoration: none;
      }

      &:hover { background: #666; }
      &.logout { float: right; }
    }

  }
}
