.flash {
  &.alert, &.alert:hover {
    background: #ED183B;
    color: #fff;
  }

  &.notice, &.notice:hover {
    background: #1BE07E;
    color: #333;
  }
}

p.flash { 
  margin: 20px auto;
  width: 200px; 
  padding: 15px;
}
