@import url(http://fonts.googleapis.com/css?family=Roboto);
@import url(http://fonts.googleapis.com/css?family=Arimo);

html { -webkit-font-smoothing: antialiased; }

body {
  margin: 0;
  background-color: #fff;
  color: #333;
  font-family: "Helvetica Neue", "Helvetica Neue", Helvetica, 'Roboto', 'Liberation Sans', 'Arimo', Arial, sans-serif;
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
}

p, ol, ul, td {
  font-family: "Helvetica Neue", "Helvetica Neue", Helvetica, 'Roboto', 'Liberation Sans', 'Arimo', Arial, sans-serif;
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a {
  color: #000;
}

div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff;
  }
  ul li {
    font-size: 12px;
    list-style: square;
  }
}

body, #vis, #vis-label, 
.logo, .logo img, .logo .header,
.search_form {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: moz-none;
  -ms-user-select: none;
  user-select: none;
}

.logo {

  width: 960px;
  margin: 10px auto;

  img {
    float: left;
    max-width: 135px;
    max-height: 135px;
  }

  div.header {
    width: 775px;
    float: left;
    margin-top: 25px;
    margin-left: 50px;
    border-bottom: 2px solid #99a2bc;

    h1 { color: #0096d7; }
    h2 { color: #97a1bb; }
  }
}

div.footer {
  position: absolute;
  bottom: 20px;
  width: 960px;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;

  h3, small { color: #e3e3e3; margin: 0; padding: 0; }
  h3 { float: left; }
  small { float: right; font-weight: bold; }
  hr { border-bottom: 2px solid #e3e3e3; border-top: none; }
  img { float: right; }
}
